In [22]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [23]:
from tensorflow.keras.models import load_model

model = load_model(
    r"D:\Churn Prediction\saved model\model.h5",
)

In [24]:
# Load preprocessor
import pickle
with open("preprocessor.pkl", "rb") as f:
    preprocessor = pickle.load(f)

In [25]:
# Input data
input_data = {
    'CreditScore': 502,
    'Geography': 'France',
    'Gender': 'Female',
    'Age': 42,
    'Tenure': 8,
    'Balance': 159660,
    'NumOfProducts': 3,
    'HasCrCard': 1,
    'IsActiveMember': 0,
    'EstimatedSalary': 110000
}

In [26]:
# Convert to DataFrame
import pandas as pd
input_df = pd.DataFrame([input_data])
input_df.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          502    France  Female  ...          1               0           110000

[1 rows x 10 columns]

In [27]:
# Apply SAME preprocessing
input_processed = preprocessor.fit_transform(input_df)

In [28]:
# Prediction
prediction = model.predict(input_processed)
prediction_proba = prediction[0][0]

1/1 [==============================] - 0s 82ms/step

In [29]:
# Output
if prediction_proba > 0.5:
    print("The customer is likely to churn.")
else:
    print("The customer is not likely to churn.")

print("Churn Probability:", prediction_proba)

The customer is not likely to churn.
Churn Probability: 0.1317319

### **Multiple data prediction together**

In [30]:
# 15 sample customers
input_data = [
    {'CreditScore':502,'Geography':'France','Gender':'Female','Age':42,'Tenure':8,'Balance':159660,'NumOfProducts':3,'HasCrCard':1,'IsActiveMember':0,'EstimatedSalary':110000},
    {'CreditScore':650,'Geography':'Germany','Gender':'Male','Age':35,'Tenure':5,'Balance':80000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':90000},
    {'CreditScore':720,'Geography':'Spain','Gender':'Female','Age':28,'Tenure':3,'Balance':0,'NumOfProducts':1,'HasCrCard':0,'IsActiveMember':1,'EstimatedSalary':50000},
    {'CreditScore':480,'Geography':'France','Gender':'Male','Age':50,'Tenure':10,'Balance':120000,'NumOfProducts':4,'HasCrCard':1,'IsActiveMember':0,'EstimatedSalary':70000},
    {'CreditScore':590,'Geography':'Germany','Gender':'Female','Age':45,'Tenure':7,'Balance':100000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':0,'EstimatedSalary':85000},
    {'CreditScore':710,'Geography':'Spain','Gender':'Male','Age':31,'Tenure':6,'Balance':60000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':95000},
    {'CreditScore':430,'Geography':'France','Gender':'Female','Age':55,'Tenure':9,'Balance':140000,'NumOfProducts':3,'HasCrCard':0,'IsActiveMember':0,'EstimatedSalary':65000},
    {'CreditScore':680,'Geography':'Germany','Gender':'Male','Age':38,'Tenure':4,'Balance':90000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':120000},
    {'CreditScore':750,'Geography':'Spain','Gender':'Female','Age':29,'Tenure':2,'Balance':0,'NumOfProducts':1,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':40000},
    {'CreditScore':560,'Geography':'France','Gender':'Male','Age':47,'Tenure':6,'Balance':110000,'NumOfProducts':3,'HasCrCard':0,'IsActiveMember':0,'EstimatedSalary':78000},
    {'CreditScore':620,'Geography':'Germany','Gender':'Female','Age':41,'Tenure':8,'Balance':95000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':102000},
    {'CreditScore':495,'Geography':'Spain','Gender':'Male','Age':52,'Tenure':9,'Balance':130000,'NumOfProducts':3,'HasCrCard':1,'IsActiveMember':0,'EstimatedSalary':88000},
    {'CreditScore':705,'Geography':'France','Gender':'Female','Age':33,'Tenure':4,'Balance':40000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':92000},
    {'CreditScore':660,'Geography':'Germany','Gender':'Male','Age':36,'Tenure':5,'Balance':70000,'NumOfProducts':2,'HasCrCard':1,'IsActiveMember':1,'EstimatedSalary':97000},
    {'CreditScore':520,'Geography':'Spain','Gender':'Female','Age':48,'Tenure':7,'Balance':115000,'NumOfProducts':3,'HasCrCard':0,'IsActiveMember':0,'EstimatedSalary':76000}
]

In [31]:
# Convert to DataFrame
input_df = pd.DataFrame(input_data)

In [32]:
input_df.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          502    France  Female  ...          1               0           110000
1          650   Germany    Male  ...          1               1            90000
2          720     Spain  Female  ...          0               1            50000
3          480    France    Male  ...          1               0            70000
4          590   Germany  Female  ...          1               0            85000

[5 rows x 10 columns]

In [33]:
# Apply SAME preprocessing
input_processed = preprocessor.fit_transform(input_df)

In [34]:
# Predict
predictions = model.predict(input_processed)

1/1 [==============================] - 0s 43ms/step

In [35]:
# Add results
input_df['Churn_Probability'] = predictions
input_df['Churn_Prediction'] = (predictions > 0.5).astype(int)

In [36]:
input_df.head(15)

    CreditScore Geography  ... Churn_Probability  Churn_Prediction
0           502    France  ...          0.523595                 1
1           650   Germany  ...          0.033730                 0
2           720     Spain  ...          0.169455                 0
3           480    France  ...          0.906660                 1
4           590   Germany  ...          0.496282                 0
5           710     Spain  ...          0.017284                 0
6           430    France  ...          0.769954                 1
7           680   Germany  ...          0.027574                 0
8           750     Spain  ...          0.141354                 0
9           560    France  ...          0.225617                 0
10          620   Germany  ...          0.146970                 0
11          495     Spain  ...          0.600428                 1
12          705    France  ...          0.031361                 0
13          660   Germany  ...          0.034492                 0
14          520     Spain  ...          0.595425                 1

[15 rows x 12 columns]